*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --fondPage:hsl(45, 21%, 93%);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--fondPage);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

ul,
nav ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  display: inline-block;
}