@import 'mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --fondPage:hsl(45, 21%, 93%);
}
  
html {
  font-size: 16px;
}

body {
  background-color: var(--fondPage);
  min-height: 100vh;
  @include grid-center;
}

img,
canvas {
  display: block;
  max-width: 100%;
}

.box{
  position: relative;
  background: repeating-linear-gradient(45deg, purple, purple 10px, transparent 11px, transparent 20px);

  & #download,
  & #reload {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: .5em;
  }
  & #reload {
    left: 0;
  }
}